%dl
<% for attribute in attributes -%>
  %dt <%= attribute.column.human_name %>
  %dd= h @<%= singular_name %>.<%= attribute.name %>
<% end -%>

%p
  = link_to 'Edit', edit_<%= singular_name %>_path(@<%= singular_name %>)
  |
  = link_to 'Back', <%= plural_name %>_path
